@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
html, body { height: 100%; }
body { color: #333; }

@layer utilities {
  .text-balance { text-wrap: balance; }
}
