@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}
html, body {
  height: 100%;
}

body {
  background: rgb(17 24 39); /* gray-900 */
  color: white;
}
